.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1115%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1116%26quot%3b)'%3e%3c/rect%3e%3cpath d='M39 250L289 0L482.5 0L232.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1117%26quot%3b)'%3e%3c/path%3e%3cpath d='M247.60000000000002 250L497.6 0L850.1 0L600.1 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1117%26quot%3b)'%3e%3c/path%3e%3cpath d='M497.20000000000005 250L747.2 0L948.2 0L698.2 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1117%26quot%3b)'%3e%3c/path%3e%3cpath d='M725.8000000000001 250L975.8000000000001 0L1251.8000000000002 0L1001.8000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1117%26quot%3b)'%3e%3c/path%3e%3cpath d='M1404 250L1154 0L933.5 0L1183.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1118%26quot%3b)'%3e%3c/path%3e%3cpath d='M1162.4 250L912.4000000000001 0L799.9000000000001 0L1049.9 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1118%26quot%3b)'%3e%3c/path%3e%3cpath d='M918.8 250L668.8 0L445.29999999999995 0L695.3 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1118%26quot%3b)'%3e%3c/path%3e%3cpath d='M703.1999999999999 250L453.19999999999993 0L280.69999999999993 0L530.6999999999999 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1118%26quot%3b)'%3e%3c/path%3e%3cpath d='M1220.4367962882254 250L1440 30.436796288225423L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1117%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L219.56320371177458 250L 0 30.436796288225423z' fill='url(%26quot%3b%23SvgjsLinearGradient1118%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1115'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='100%25' cy='100%25' r='1461.54' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1116'%3e%3cstop stop-color='rgba(195%2c 199%2c 230%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(237%2c 250%2c 253%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1117'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1118'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px ;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  opacity: 0;
  animation: fadeInSlow 1s ease forwards;
}

.login-box h2 {
  font-size: 36px;
  font-weight: 700;
  color: #03045E;
  margin-bottom: 10px;
}

.login-box p {
  font-size: 17px;
  color: #046BF1;
  margin-bottom: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.input-field:focus {
  outline: none;
  border-color: #046BF1;
  box-shadow: 0 0 0 2px rgba(74, 105, 133, 0.2);
}

.login-actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.login-button {
  background-color: #03045E;
  color: white;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background-color: #046BF1;
}

.register-button {
  background-color: #e4e7ec;
  color: #03045E;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-button:hover {
  background-color: #f6f7fb;
  color: #046BF1;
  border: 1px #046BF1 solid;
}

.error {
  color: #d93025;
  font-size: 14px;
  margin: 0 0 8px 0;
  text-align: left;
}
.login-links{
  padding-top:15px;
}

@keyframes fadeInSlow {
  to {
    opacity: 1;
  }
}